body
{
    background:#f8f8f8;
    font-family:'Courier New', Courier, monospace;
}
.container
{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main
{
    text-align: center;
}
.main__title
{
    font-size: 4em;
    color: rgba(0, 111, 214, 0.678);
    margin: 0;
    line-height: normal;
}
.main__subtitle
{
    margin: 0;
    font-size: 1em;
    color: #f8f8f8;
    background: #aaa9a9;
    margin-bottom: 5px;
}